body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.site_header {
    background-color: #ff6900;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;    
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.site_footer {
    background-color: #1a1a1a;
    color: white;
    padding: 15px 0;
}

.nav_bar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a .nav-icons i {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 10px;
}

.nav-links a :hover {
    text-decoration: underline;
}

.logo img {
    height: 25px;
}

.container {
    max-width: 1200px;
    margin: 100px auto 20px;
    padding: 20px;
}

.products {
    margin: 100px auto 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
}

.product_card {
    flex-basis: calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 20px;
    position: relative; 
}

.product_image {
    position: relative;
}

.product_image img {
    width: 100%;
    display: block;
}

.product_image .hover-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.product_card:hover .hover-image {
    display: block;
}

.product_image .heart-icon {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heart_icon:hover {
    color: red;
}

.product_image .discount,

.product_image .sustainability {
    position: absolute;
    bottom: 30px;
    left: 0;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
}

.product_image .discount {
background-color: red;
}

.product_image .sustainability {
    background-color: green;
    left: 55px;
}

.product_info {
padding-top: 10px;
}

.brand {
    font-size: 12px;
    color: #555;
}

.product_name {
    font-size: 16px;
    margin: 5px 0;
    font-weight: bold;
}

.prices {
    margin-top: 5px;
}

.current-price {
    font-weight: bold;
    color: red;
    margin-right: 5px;
}

.original-price {
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
}

.footer_content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.legal_info a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 12px;
}

.social_links a {
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

.social_links p {
    display: flex;
    margin-right: 10px;
    font-size: 14px;
}